<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!--    Properties: 설정 파일에서 사용할 프로퍼티 정의 -->
    <Properties>
        <!-- 로그 파일 이름 설정 -->
        <Property name="logNm">authentication-management-server</Property>
        <!-- 로그 저장 경로 -->
        <Property name="logPath">logs</Property>
        <!-- 로그 메시지 패턴 설정 -->
        <Property name="layoutPattern">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} %style{[%t]}{yellow} %style{%C{1.}}{bright,magenta}:%L - %m%n</Property>
        <!-- 파일 로그 메시지 패턴 (색상 코드 제외) -->
        <Property name="fileLayoutPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %C{1.}:%L - %m%n</Property>
    </Properties>

    <!--    Appenders: LogEvent를 Appender에 전달하여 로그 메시지를 출력 -->
    <Appenders>
        <!-- Console Appender: 콘솔에 로그 출력 -->
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <!-- PatternLayout: 로그 포맷 지정 및 UTF-8 인코딩 설정 -->
            <PatternLayout pattern="${layoutPattern}" charset="UTF-8"/>
        </Console>

        <!-- RollingFile Appender: 파일에 로그 출력 및 롤링 -->
        <RollingFile name="File_Appender" 
                    fileName="${logPath}/${logNm}.log"
                    filePattern="${logPath}/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}" charset="UTF-8"/>
            <Policies>
                <!-- SizeBasedTriggeringPolicy: 파일 크기가 10MB를 초과하면 롤링 -->
                <SizeBasedTriggeringPolicy size="10MB"/>
                <!-- TimeBasedTriggeringPolicy: 매일 자정에 롤링 -->
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <!-- DefaultRolloverStrategy: 최대 10개의 로그 파일 유지, 오래된 파일부터 삭제 -->
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <!--    Loggers: Logger를 설정하고 Appender와 연결 -->
    <Loggers>
        <!-- Root Logger: 모든 Logger의 부모 Logger, 기본 로그 레벨 설정 -->
        <Root level="INFO">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Root>

        <!-- org.springframework Logger: Spring 프레임워크 관련 로그 설정, DEBUG 레벨 -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Logger>

        <!-- com.lolclone.authentication_management_server Logger: 특정 패키지 로그 설정, INFO 레벨 -->
        <Logger name="com.lolclone.authentication_management_server" level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Logger>
    </Loggers>
</Configuration>
